body {
    font-family: Arial, sans-serif;
    background-color: #1b0f20;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: #d1b6dd;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.userInputs {
    margin-bottom: 20px;
}

.userInputs label, .userInputs input {
    margin: 5px;
}

.calendarControls {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #c9184a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

#calendar div {
    padding: 10px;
    background-color: #1b0f20;
    color: #d1b6dd;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#calendar div.active {
    background-color: #aa4465;
}

#calendar div.predicted {
    background-color: #ff4d6d;
}
